<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="..">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'TABS.SETTINGS.DATA_MANAGEMENT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button (click)="backup()">
      <ion-icon slot="start" name="archive"></ion-icon>
      <ion-label>{{ 'TABS.SETTINGS.BACKUP' | translate }}</ion-label>
    </ion-item>
    <ion-item button (click)="restore()">
      <ion-icon slot="start" name="refresh"></ion-icon>
      <ion-label>{{ 'TABS.SETTINGS.RESTORE' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
