<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'TABS.SETTINGS.SETTINGS' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button routerLink="ui">
      <ion-icon slot="start" name="easel"></ion-icon>
      <ion-label>{{ 'TABS.SETTINGS.UI' | translate }}</ion-label>
    </ion-item>

    <ion-item button routerLink="region">
      <ion-icon slot="start" name="globe"></ion-icon>
      <ion-label>{{ 'TABS.SETTINGS.REGION' | translate }}</ion-label>
    </ion-item>

    <ion-item button routerLink="data-management">
      <ion-icon slot="start" name="documents"></ion-icon>
      <ion-label>{{ 'TABS.SETTINGS.DATA_MANAGEMENT' | translate }}</ion-label>
    </ion-item>

    <ion-item button routerLink="license">
      <ion-icon slot="start" name="document-text"></ion-icon>
      <ion-label>{{ 'TABS.SETTINGS.LICENSE' | translate }}</ion-label>
    </ion-item>
    <ion-item button routerLink="about">
      <ion-icon slot="start" name="information-circle"></ion-icon>
      <ion-label>{{ 'TABS.SETTINGS.ABOUT' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
