/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.select-full-width {
    max-width: 100% !important;
    width: 100% !important;
    padding-left: 0 !important;
}

.alert-full-width {
    --min-width: 95% !important;
}

// Must be here because alerts are global components
.alert-sort-selected {
    border: 1px solid var(--ion-color-primary, blue) !important;
    border-radius: 20px !important;
}

.searchbar-integrate {
    --background: inherit !important;
    --box-shadow: none !important;
}

.toast-center-text {
    text-align: center;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid var(--ion-color-light, #36454f);
}

.list-header {
    font-weight: bold;
    --color: #0097a7;
}